body {
  font-family: verdana, sans-serif;
  line-height: 1.5;
  background-color: #d6dfe6;
}

nav {
  margin: 20px auto;
  width: 280px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background-color: white;
  margin: 5px 0;
}

nav ul li a {
  display: block;
  color: #0099FF;
  text-decoration: none;
  padding: 10px 0 10px 10px;
  transition: all 300ms ease-in-out;
}

nav ul li a:hover {
  box-shadow: inset 5px 0 0 0 #0099FF;
  padding-left: 15px;
}

